.myColors {
  --unknown-violet-red: #b6365c; /* #b35 */

  --irresistible: #b3446c; /* #b46 */
  --maroon-x11: #b03060; /* #b36 */
  --rich-maroon: #b03060; /* #b36 */
}

:root {
  --black: #000000; /* #000 */
  --registration-black: #000000; /* #000 */
  --navy-blue: #000080; /* #008 */
  --dark-blue: #00008b; /* #008 */
  --duke-blue: #00009c; /* #009 */
  --medium-blue: #0000cd; /* #00c */
  --blue: #0000ff; /* #00f */
  --phthalo-blue: #000f89; /* #008 */
  --zaffre: #0014a8; /* #01a */
  --blue-pantone: #0018a8; /* #01a */
  --maastricht-blue: #001c3d; /* #013 */
  --oxford-blue: #002147; /* #024 */
  --royal-blue: #002366; /* #026 */
  --resolution-blue: #002387; /* #028 */
  --prussian-blue: #003153; /* #035 */
  --dark-midnight-blue: #003366; /* #036 */
  --smalt-dark-powder-blue: #003399; /* #039 */
  --philippine-blue: #0038a7; /* #03a */
  --royal-azure: #0038a8; /* #03a */
  --indigo-dye: #00416a; /* #046 */
  --philippine-indigo: #00416a; /* #046 */
  --british-racing-green: #004225; /* #042 */
  --midnight-blue: #00468c; /* #048 */
  --cobalt-blue: #0047ab; /* #04a */
  --absolute-zero: #0048ba; /* #04b */
  --midnight-green-eagle-green: #004953; /* #045 */
  --deep-jungle-green: #004b49; /* #044 */
  --castleton-green: #00563f; /* #053 */
  --dark-green-x11: #006400; /* #060 */
  --pakistan-green: #006600; /* #060 */
  --philippine-sky-blue: #0066ff; /* #06f */
  --medium-persian-blue: #0067a5; /* #06a */
  --sapphire-blue: #0067a5; /* #06a */
  --sea-blue: #006994; /* #069 */
  --bottle-green: #006a4e; /* #064 */
  --cadmium-green: #006b3c; /* #063 */
  --honolulu-blue: #006db0; /* #06b */
  --dartmouth-green: #00703c; /* #073 */
  --spanish-blue: #0070b8; /* #07b */
  --french-blue: #0072bb; /* #07b */
  --true-blue: #0073cf; /* #07c */
  --skobeloff: #007474; /* #077 */
  --tropical-rain-forest: #00755e; /* #075 */
  --ocean-boat-blue: #0077be; /* #07b */
  --microsoft-edge-blue: #0078d7; /* #07d */
  --cerulean: #007ba7; /* #07a */
  --star-command-blue: #007bb8; /* #07b */
  --spanish-viridian: #007f5c; /* #075 */
  --generic-viridian: #007f66; /* #076 */
  --azure: #007fff; /* #07f */
  --ao-english: #008000; /* #080 */
  --green-html-css-color: #008000; /* #080 */
  --office-green: #008000; /* #080 */
  --teal: #008080; /* #088 */
  --teal-green: #00827f; /* #087 */
  --neon-dark-green: #008443; /* #084 */
  --philippine-green: #008543; /* #084 */
  --blue-ncs: #0087bd; /* #08b */
  --dark-cyan: #008b8b; /* #088 */
  --spanish-green: #009150; /* #095 */
  --blue-munsell: #0093af; /* #09a */
  --viridian-green: #009698; /* #099 */
  --green-cyan: #009966; /* #096 */
  --paolo-veronese-green: #009b7d; /* #097 */
  --shamrock-green: #009e60; /* #096 */
  --green-ncs: #009f6b; /* #096 */
  --microsoft-blue: #00a2ed; /* #0ae */
  --green-pigment: #00a550; /* #0a5 */
  --persian-green: #00a693; /* #0a9 */
  --jade: #00a86b; /* #0a6 */
  --green-munsell: #00a877; /* #0a7 */
  --vivid-cerulean: #00aaee; /* #0ae */
  --go-green: #00ab66; /* #0a6 */
  --green-pantone: #00ad43; /* #0a4 */
  --deep-sky-blue: #00bfff; /* #0bf */
  --turquoise-surf: #00c5cd; /* #0cc */
  --vivid-malachite: #00cc33; /* #0c3 */
  --caribbean-green: #00cc99; /* #0c9 */
  --robin-egg-blue: #00cccc; /* #0cc */
  --vivid-sky-blue: #00ccff; /* #0cf */
  --dark-turquoise: #00ced1; /* #0cd */
  --medium-spring-green: #00fa9a; /* #0f9 */
  --neon-cyan: #00fefc; /* #0ff */
  --green: #00ff00; /* #0f0 */
  --lime-web-x11-green: #00ff00; /* #0f0 */
  --spring-green: #00ff7f; /* #0f7 */
  --sea-green-crayola: #00ffcd; /* #0fc */
  --turquoise-blue: #00ffef; /* #0fe */
  --aqua: #00ffff; /* #0ff */
  --cyan: #00ffff; /* #0ff */
  --spanish-sky-blue: #00ffff; /* #0ff */
  --dark-green: #013220; /* #032 */
  --forest-green-traditional: #014421; /* #042 */
  --pine-green: #01796f; /* #076 */
  --medium-electric-blue: #035096; /* #059 */
  --medium-green: #037949; /* #074 */
  --dark-pastel-green: #03c03c; /* #0c3 */
  --sacramento-state-green: #043927; /* #032 */
  --vampire-black: #080808; /* #000 */
  --la-salle-green: #087830; /* #073 */
  --rich-electric-blue: #0892d0; /* #09d */
  --bright-turquoise: #08e8de; /* #0ed */
  --metallic-seaweed: #0a7e8c; /* #078 */
  --tiffany-blue: #0abab5; /* #0bb */
  --malachite: #0bda51; /* #0d5 */
  --blue-green: #0d98ba; /* #09b */
  --sapphire: #0f52ba; /* #05b */
  --spiro-disco-ball: #0fc0fc; /* #0cf */
  --smoky-black: #100c08; /* #100 */
  --egyptian-blue: #1034a6; /* #13a */
  --green-blue: #1164b4; /* #16b */
  --samsung-blue: #12279e; /* #129 */
  --phthalo-green: #123524; /* #132 */
  --blue-sapphire: #126180; /* #168 */
  --royal-green: #136207; /* #160 */
  --india-green: #138808; /* #180 */
  --neon-green: #139b42; /* #194 */
  --denim: #1560bd; /* #16b */
  --lotion-blue: #15f2fd; /* #1ff */
  --fluorescent-blue: #15f4ee; /* #1fe */
  --vine-green: #164010; /* #141 */
  --dark-spring-green: #177245; /* #174 */
  --salem: #177b4d; /* #174 */
  --msu-green: #18453b; /* #143 */
  --verse-green: #18880d; /* #180 */
  --midnight-blue: #191970; /* #117 */
  --lincoln-green: #195905; /* #150 */
  --bright-navy-blue: #1974d2; /* #17d */
  --navy-blue-crayola: #1974d2; /* #17d */
  --licorice: #1a1110; /* #111 */
  --dark-jungle-green: #1a2421; /* #122 */
  --neon-blue: #1b03a3; /* #10a */
  --eerie-black: #1b1b1b; /* #111 */
  --brunswick-green: #1b4d3e; /* #143 */
  --medium-jungle-green: #1c352d; /* #132 */
  --persian-blue: #1c39bb; /* #13b */
  --pacific-blue: #1ca9c9; /* #1ac */
  --green-crayola: #1cac78; /* #1a7 */
  --space-cadet: #1d2951; /* #125 */
  --cerulean-crayola: #1dacd6; /* #1ad */
  --dodger-blue: #1e90ff; /* #19f */
  --blue-crayola: #1f75fe; /* #17f */
  --light-sea-green: #20b2aa; /* #2ba */
  --ultramarine-blue-caran-d-ache: #2111ef; /* #21e */
  --new-car: #214fc6; /* #24c */
  --denim-blue: #2243b6; /* #24b */
  --forest-green-web: #228b22; /* #282 */
  --st-patrick-s-blue: #23297a; /* #227 */
  --charleston-green: #232b2b; /* #222 */
  --raisin-black: #242124; /* #222 */
  --black-leather-jacket: #253529; /* #232 */
  --lapis-lazuli: #26619c; /* #269 */
  --twitter-blue: #26a7de; /* #2ad */
  --palatinate-blue: #273be2; /* #23e */
  --green-blue-crayola: #2887c8; /* #28c */
  --root-beer: #290e05; /* #200 */
  --metallic-green: #296e01; /* #260 */
  --slimy-green: #299617; /* #291 */
  --jungle-green: #29ab87; /* #2a8 */
  --pine-tree: #2a2f23; /* #222 */
  --gunmetal: #2a3439; /* #233 */
  --cerulean-blue: #2a52be; /* #25b */
  --napier-green: #2a8000; /* #280 */
  --zinnwaldite: #2c1608; /* #210 */
  --outer-space-crayola: #2d383a; /* #233 */
  --cosmic-cobalt: #2e2d88; /* #228 */
  --yinmn-blue: #2e5090; /* #259 */
  --b-dazzled-blue: #2e5894; /* #259 */
  --sea-green: #2e8b57; /* #285 */
  --dark-slate-gray: #2f4f4f; /* #244 */
  --celadon-green: #2f847c; /* #287 */
  --dark-purple: #301934; /* #313 */
  --mughal-green: #306030; /* #363 */
  --mountain-meadow: #30ba8f; /* #3b8 */
  --maximum-blue-green: #30bfbf; /* #3bb */
  --myrtle-green: #317873; /* #377 */
  --bleu-de-france: #318ce7; /* #38e */
  --illuminating-emerald: #319177; /* #397 */
  --persian-indigo: #32127a; /* #317 */
  --russian-violet: #32174d; /* #314 */
  --violet-blue: #324ab2; /* #34b */
  --metallic-blue: #32527b; /* #357 */
  --prilly-blue: #329cc3; /* #39c */
  --lime-green: #32cd32; /* #3c3 */
  --blue-pigment: #333399; /* #339 */
  --jet: #343434; /* #333 */
  --onyx: #353839; /* #333 */
  --kombu-green: #354230; /* #343 */
  --hunter-green: #355e3b; /* #353 */
  --charcoal: #36454f; /* #344 */
  --ming: #36747d; /* #377 */
  --teal-blue: #367588; /* #378 */
  --police-blue: #374f6b; /* #346 */
  --pixie-powder: #391285; /* #318 */
  --zomp: #39a78e; /* #3a8 */
  --neon-green: #39ff14; /* #3f1 */
  --moonstone: #3aa8c1; /* #3ac */
  --keppel: #3ab09e; /* #3b9 */
  --pullman-green: #3b331c; /* #331 */
  --black-olive: #3b3c36; /* #333 */
  --amazon: #3b7a57; /* #375 */
  --dark-sienna: #3c1414; /* #311 */
  --temptress: #3c2126; /* #322 */
  --olive-drab-7: #3c341f; /* #331 */
  --medium-sea-green: #3cb371; /* #3b7 */
  --black-bean: #3d0c02; /* #300 */
  --bistre: #3d2b1f; /* #321 */
  --tufts-blue: #3e8ede; /* #38d */
  --mint: #3eb489; /* #3b8 */
  --ultramarine: #3f00ff; /* #30f */
  --harlequin: #3fff00; /* #3f0 */
  --viridian: #40826d; /* #486 */
  --turquoise: #40e0d0; /* #4ed */
  --outer-space: #414a4c; /* #444 */
  --ultramarine-blue: #4166f5; /* #46f */
  --royal-blue: #4169e1; /* #46e */
  --old-burgundy: #43302e; /* #432 */
  --queen-blue: #436b95; /* #469 */
  --verdigris: #43b3ae; /* #4ba */
  --rifle-green: #444c38; /* #443 */
  --han-blue: #446ccf; /* #46c */
  --eucalyptus: #44d7a8; /* #4da */
  --picton-blue: #45b1e8; /* #4be */
  --steel-blue: #4682b4; /* #48b */
  --maximum-blue: #47abcc; /* #4ac */
  --dark-lava: #483c32; /* #433 */
  --taupe: #483c32; /* #433 */
  --dark-slate-blue: #483d8b; /* #438 */
  --ocean-green: #48bf91; /* #4b9 */
  --medium-turquoise: #48d1cc; /* #4dc */
  --hooker-s-green: #49796b; /* #476 */
  --dark-moss-green: #4a5d23; /* #452 */
  --deep-space-sparkle: #4a646c; /* #466 */
  --indigo: #4b0082; /* #408 */
  --caf-noir: #4b3621; /* #432 */
  --army-green: #4b5320; /* #452 */
  --sea-serpent: #4bc7cf; /* #4cc */
  --spanish-violet: #4c2882; /* #428 */
  --independence: #4c516d; /* #456 */
  --may-green: #4c9141; /* #494 */
  --kelly-green: #4cbb17; /* #4b1 */
  --feldgrau: #4d5d53; /* #455 */
  --middle-green: #4d8c57; /* #485 */
  --purple-navy: #4e5180; /* #458 */
  --ocean-blue: #4f42b5; /* #44b */
  --fern-green: #4f7942; /* #474 */
  --blueberry: #4f86f7; /* #48f */
  --purple-taupe: #50404d; /* #544 */
  --blue-yonder: #5072a7; /* #57a */
  --sap-green: #507d2a; /* #572 */
  --emerald: #50c878; /* #5c7 */
  --paris-green: #50c878; /* #5c7 */
  --ksu-purple: #512888; /* #528 */
  --quartz: #51484f; /* #544 */
  --han-purple: #5218fa; /* #51f */
  --royal-brown: #523b35; /* #533 */
  --dark-liver: #534b4f; /* #544 */
  --cadet: #536872; /* #567 */
  --dark-electric-blue: #536878; /* #567 */
  --payne-s-grey: #536878; /* #567 */
  --liberty: #545aa7; /* #55a */
  --black-coral: #54626f; /* #566 */
  --light-chocolate-cosmos: #551f2f; /* #512 */
  --davy-s-grey: #555555; /* #555 */
  --ebony: #555d50; /* #555 */
  --dark-olive-green: #556b2f; /* #562 */
  --pineapple: #563c0d; /* #530 */
  --english-violet: #563c5c; /* #535 */
  --old-heliotrope: #563c5c; /* #535 */
  --avocado: #568203; /* #580 */
  --wintergreen-dream: #56887d; /* #587 */
  --carolina-blue: #56a0d3; /* #5ad */
  --cyber-grape: #58427c; /* #547 */
  --seal-brown: #59260b; /* #520 */
  --caput-mortuum: #592720; /* #522 */
  --plump-purple: #5946b2; /* #54b */
  --iris: #5a4fcf; /* #54c */
  --metallic-violet: #5b0a91; /* #509 */
  --japanese-violet: #5b3256; /* #535 */
  --united-nations-blue: #5b92e5; /* #59e */
  --lemon-lime: #5cff67; /* #5f6 */
  --philippine-brown: #5d1916; /* #511 */
  --dark-byzantium: #5d3954; /* #535 */
  --silver-lake-blue: #5d89ba; /* #58b */
  --rackley: #5d8aa8; /* #58a */
  --polished-pine: #5da493; /* #5a9 */
  --blue-jeans: #5dadec; /* #5ae */
  --maximum-green: #5e8c31; /* #583 */
  --steel-teal: #5f8a8b; /* #588 */
  --cadet-blue: #5f9ea0; /* #59a */
  --forest-green-crayola: #5fa777; /* #5a7 */
  --shiny-shamrock: #5fa778; /* #5a7 */
  --majorelle-blue: #6050dc; /* #65d */
  --glaucous: #6082b6; /* #68b */
  --eggplant: #614051; /* #645 */
  --umber: #635147; /* #654 */
  --pullman-brown-ups-brown: #644117; /* #641 */
  --wenge: #645452; /* #655 */
  --cornflower-blue-web: #6495ed; /* #69e */
  --very-light-malachite-green: #64e986; /* #6e8 */
  --rosewood: #65000b; /* #600 */
  --medium-violet: #65315f; /* #635 */
  --dark-brown: #654321; /* #642 */
  --otter-brown: #654321; /* #642 */
  --blood-red: #660000; /* #600 */
  --tyrian-purple: #66023c; /* #603 */
  --spanish-purple: #66033c; /* #603 */
  --rebecca-purple: #663399; /* #639 */
  --van-dyke-brown: #664228; /* #642 */
  --antique-bronze: #665d1e; /* #651 */
  --dark-blue-gray: #666699; /* #669 */
  --very-light-blue: #6666ff; /* #66f */
  --blue-gray: #6699cc; /* #69c */
  --livid: #6699cc; /* #69c */
  --green-ryb: #66b032; /* #6b3 */
  --medium-aquamarine: #66ddaa; /* #6da */
  --bright-green: #66ff00; /* #6f0 */
  --screamin-green: #66ff66; /* #6f6 */
  --old-mauve: #673147; /* #634 */
  --wine-dregs: #673147; /* #634 */
  --violin-brown: #674403; /* #640 */
  --rose-ebony: #674846; /* #644 */
  --liver: #674c47; /* #644 */
  --medium-taupe: #674c47; /* #644 */
  --granite-gray: #676767; /* #666 */
  --russian-green: #679267; /* #696 */
  --palatinate-purple: #682860; /* #626 */
  --purple-heart: #69359c; /* #639 */
  --dim-gray: #696969; /* #666 */
  --quincy: #6a5445; /* #654 */
  --slate-blue: #6a5acd; /* #65c */
  --kobicha: #6b4423; /* #642 */
  --olive-drab-3: #6b8e23; /* #682 */
  --liver-organ: #6c2e1f; /* #621 */
  --eminence: #6c3082; /* #638 */
  --field-drab: #6c541e; /* #651 */
  --little-boy-blue: #6ca0dc; /* #6ad */
  --oxley: #6d9a79; /* #697 */
  --cerulean-frost: #6d9bc3; /* #69c */
  --violet-caran-d-ache: #6e00c0; /* #60c */
  --philippine-bronze: #6e3a07; /* #630 */
  --mustard-green: #6e6e30; /* #663 */
  --green-sheen: #6eaea1; /* #6aa */
  --electric-indigo: #6f00ff; /* #60f */
  --coffee: #6f4e37; /* #643 */
  --tuscan-brown: #6f4e37; /* #643 */
  --palm-leaf: #6f9940; /* #694 */
  --persian-plum: #701c1c; /* #711 */
  --prune: #701c1c; /* #711 */
  --midnight: #702670; /* #727 */
  --byzantium: #702963; /* #726 */
  --catawba: #703642; /* #734 */
  --sepia: #704214; /* #741 */
  --roast-coffee: #704241; /* #744 */
  --mud: #70543e; /* #753 */
  --slate-gray: #708090; /* #789 */
  --iceberg: #71a6d2; /* #7ad */
  --puce-red: #722f37; /* #723 */
  --wine: #722f37; /* #723 */
  --nickel: #727472; /* #777 */
  --air-superiority-blue: #72a0c1; /* #7ac */
  --maximum-purple: #733380; /* #738 */
  --smoke: #738276; /* #787 */
  --xanadu: #738678; /* #787 */
  --moonstone-blue: #73a9c2; /* #7ac */
  --maya-blue: #73c2fb; /* #7cf */
  --toolbox: #746cc0; /* #76c */
  --very-light-azure: #74bbfb; /* #7bf */
  --mantis: #74c365; /* #7c6 */
  --sonic-silver: #757575; /* #777 */
  --violet-blue-crayola: #766ec8; /* #76c */
  --sky-blue-crayola: #76d7ea; /* #7de */
  --rhythm: #777696; /* #779 */
  --light-slate-gray: #778899; /* #789 */
  --shadow-blue: #778ba5; /* #78a */
  --french-sky-blue: #77b5fe; /* #7bf */
  --pastel-green: #77dd77; /* #7d7 */
  --pansy-purple: #78184a; /* #714 */
  --royal-purple: #7851a9; /* #75a */
  --bole: #79443b; /* #743 */
  --medium-tuscan-red: #79443b; /* #743 */
  --old-lavender: #796878; /* #767 */
  --light-violet: #7a5299; /* #759 */
  --up-maroon: #7b1113; /* #711 */
  --chocolate-traditional: #7b3f00; /* #730 */
  --medium-slate-blue: #7b68ee; /* #76e */
  --bud-green: #7bb661; /* #7b6 */
  --barn-red: #7c0a02; /* #700 */
  --tuscan-red: #7c4848; /* #744 */
  --weldon-blue: #7c98ab; /* #79a */
  --vista-blue: #7c9ed9; /* #79d */
  --aero: #7cb9e8; /* #7be */
  --lawn-green: #7cfc00; /* #7f0 */
  --microsoft-green: #7db700; /* #7b0 */
  --electric-blue: #7df9ff; /* #7ff */
  --deep-taupe: #7e5e60; /* #756 */
  --middle-blue: #7ed4e6; /* #7de */
  --violet-color-wheel: #7f00ff; /* #70f */
  --claret: #7f1734; /* #713 */
  --chartreuse-web: #7fff00; /* #7f0 */
  --aquamarine: #7fffd4; /* #7fd */
  --maroon-html-css: #800000; /* #800 */
  --burgundy: #800020; /* #802 */
  --oxblood: #800020; /* #802 */
  --patriarch: #800080; /* #808 */
  --purple-html: #800080; /* #808 */
  --falu-red: #801818; /* #811 */
  --russet: #80461b; /* #841 */
  --spanish-bistre: #807532; /* #873 */
  --olive: #808000; /* #880 */
  --gray-web: #808080; /* #888 */
  --neon-gray: #808080; /* #888 */
  --trolley-grey: #808080; /* #888 */
  --medium-sky-blue: #80daeb; /* #8de */
  --philippine-violet: #81007f; /* #807 */
  --coyote-brown: #81613c; /* #863 */
  --raw-umber: #826644; /* #864 */
  --mummy-s-tomb: #828e84; /* #888 */
  --smokey-topaz: #832a0d; /* #820 */
  --pastel-brown: #836953; /* #865 */
  --roman-silver: #838996; /* #889 */
  --antique-ruby: #841b2d; /* #812 */
  --milk-chocolate: #84563c; /* #853 */
  --battleship-grey: #848482; /* #888 */
  --old-silver: #848482; /* #888 */
  --chinese-violet: #856088; /* #868 */
  --french-bistre: #856d4d; /* #864 */
  --gold-fusion: #85754e; /* #874 */
  --red-devil: #860111; /* #801 */
  --violet-ryb: #8601af; /* #80a */
  --french-lilac: #86608e; /* #868 */
  --pomp-and-power: #86608e; /* #868 */
  --old-moss-green: #867e36; /* #873 */
  --dark-raspberry: #872657; /* #825 */
  --fuzzy-wuzzy: #87421f; /* #841 */
  --titanium: #878681; /* #888 */
  --asparagus: #87a96b; /* #8a6 */
  --sky-blue: #87ceeb; /* #8ce */
  --light-sky-blue: #87cefa; /* #8cf */
  --pale-cyan: #87d3f8; /* #8df */
  --spring-frost: #87ff2a; /* #8f2 */
  --mardi-gras: #880085; /* #808 */
  --french-violet: #8806ce; /* #80c */
  --kobe: #882d17; /* #821 */
  --sienna: #882d17; /* #821 */
  --light-cobalt-blue: #88ace0; /* #8ae */
  --pearl-aqua: #88d8c0; /* #8dc */
  --maximum-violet: #892f77; /* #827 */
  --solid-pink: #893843; /* #834 */
  --cordovan: #893f45; /* #834 */
  --baby-blue: #89cff0; /* #8cf */
  --blue-violet: #8a2be2; /* #82e */
  --burnt-umber: #8a3324; /* #832 */
  --twilight-lavender: #8a496b; /* #846 */
  --shadow: #8a795d; /* #875 */
  --rocket-metallic: #8a7f80; /* #878 */
  --moss-green: #8a9a5b; /* #895 */
  --turtle-green: #8a9a5b; /* #895 */
  --dark-red: #8b0000; /* #800 */
  --dark-magenta: #8b008b; /* #808 */
  --saddle-brown: #8b4513; /* #841 */
  --spicy-mix: #8b5f4d; /* #854 */
  --middle-blue-purple: #8b72be; /* #87b */
  --taupe-gray: #8b8589; /* #888 */
  --middle-grey: #8b8680; /* #888 */
  --pewter-blue: #8ba8b7; /* #8ab */
  --philippine-gray: #8c8c8c; /* #888 */
  --cool-grey: #8c92ac; /* #89a */
  --dark-sky-blue: #8cbed6; /* #8bd */
  --razzmic-berry: #8d4e85; /* #848 */
  --morning-blue: #8da399; /* #8a9 */
  --apple-green: #8db600; /* #8b0 */
  --middle-blue-green: #8dd9cc; /* #8dc */
  --quinacridone-magenta: #8e3a59; /* #835 */
  --plum: #8e4585; /* #848 */
  --electric-violet: #8f00ff; /* #80f */
  --violet: #8f00ff; /* #80f */
  --artichoke: #8f9779; /* #897 */
  --dark-sea-green: #8fbc8f; /* #8b8 */
  --sheen-green: #8fd400; /* #8d0 */
  --rose-taupe: #905d5d; /* #955 */
  --light-green: #90ee90; /* #9e9 */
  --sugar-plum: #914e75; /* #947 */
  --antique-fuchsia: #915c83; /* #958 */
  --mauve-taupe: #915f6d; /* #956 */
  --raspberry-glace: #915f6d; /* #956 */
  --dark-tan: #918151; /* #985 */
  --cadet-grey: #91a3b0; /* #9ab */
  --vivid-auburn: #922724; /* #922 */
  --red-violet-color-wheel: #922b3e; /* #923 */
  --medium-purple: #9370db; /* #97d */
  --pistachio: #93c572; /* #9c7 */
  --cornflower-blue-crayola: #93ccea; /* #9ce */
  --light-cornflower-blue: #93ccea; /* #9ce */
  --dark-violet: #9400d3; /* #90d */
  --lavender-indigo: #9457eb; /* #95e */
  --navy-purple: #9457eb; /* #95e */
  --neon-purple: #9457eb; /* #95e */
  --chestnut: #954535; /* #943 */
  --carmine: #960018; /* #901 */
  --rose-garnet: #960145; /* #904 */
  --violet-crayola: #963d7f; /* #937 */
  --brown: #964b00; /* #940 */
  --coconut: #965a3e; /* #953 */
  --bistre-brown: #967117; /* #971 */
  --mode-beige: #967117; /* #971 */
  --sand-dune: #967117; /* #971 */
  --sandy-taupe: #967117; /* #971 */
  --purple-mountain-majesty: #9678b6; /* #97b */
  --lavender-purple: #967bb6; /* #97b */
  --eton-blue: #96c8a2; /* #9ca */
  --pale-robin-egg-blue: #96ded1; /* #9dd */
  --mango-green: #96ff00; /* #9f0 */
  --red-rum: #973a4a; /* #934 */
  --manatee: #979aaa; /* #99a */
  --pink-raspberry: #980036; /* #903 */
  --liver-chestnut: #987456; /* #975 */
  --pale-brown: #987654; /* #975 */
  --cinereous: #98817b; /* #987 */
  --spanish-gray: #989898; /* #999 */
  --pale-green: #98fb98; /* #9f9 */
  --mint-green: #98ff98; /* #9f9 */
  --ou-crimson-red: #990000; /* #900 */
  --dark-orchid: #9932cc; /* #93c */
  --golden-brown: #996515; /* #961 */
  --copper-rose: #996666; /* #966 */
  --amethyst: #9966cc; /* #96c */
  --mountbatten-pink: #997a8d; /* #978 */
  --teal-deer: #99e6b3; /* #9eb */
  --rum: #9a4e40; /* #944 */
  --purpureus: #9a4eae; /* #94a */
  --olivine: #9ab973; /* #9b7 */
  --yellow-green: #9acd32; /* #9c3 */
  --ruby-red: #9b111e; /* #911 */
  --royal-red: #9b1c31; /* #913 */
  --dirt: #9b7653; /* #975 */
  --pale-cerulean: #9bc4e2; /* #9ce */
  --big-dip-o-ruby: #9c2542; /* #924 */
  --purple-plum: #9c51b6; /* #95b */
  --metallic-sunburst: #9c7c38; /* #973 */
  --japanese-carmine: #9d2933; /* #923 */
  --limerick: #9dc209; /* #9c0 */
  --spartan-crimson: #9e1316; /* #911 */
  --rose-dust: #9e5e6f; /* #956 */
  --french-lime: #9efd38; /* #9f3 */
  --purple-munsell: #9f00c5; /* #90c */
  --vivid-violet: #9f00ff; /* #90f */
  --vivid-burgundy: #9f1d35; /* #913 */
  --amaranth-deep-purple: #9f2b68; /* #926 */
  --beaver: #9f8170; /* #987 */
  --citron: #9fa91f; /* #9a1 */
  --sea-foam-green: #9fe2bf; /* #9eb */
  --purple-x11: #a020f0; /* #a2f */
  --veronica: #a020f0; /* #a2f */
  --turquoise-green: #a0d6b4; /* #adb */
  --winter-wizard: #a0e6ff; /* #aef */
  --burnished-brown: #a17a74; /* #a77 */
  --baby-blue-eyes: #a1caf1; /* #acf */
  --flirt: #a2006d; /* #a06 */
  --blue-bell: #a2a2d0; /* #aad */
  --cambridge-blue: #a3c1ad; /* #aca */
  --redwood: #a45a52; /* #a55 */
  --android-green: #a4c639; /* #ac3 */
  --non-photo-blue: #a4dded; /* #ade */
  --waterspout: #a4f4f9; /* #aff */
  --jazzberry-jam: #a50b5e; /* #a05 */
  --auburn: #a52a2a; /* #a22 */
  --brown-web: #a52a2a; /* #a22 */
  --red-brown: #a52a2a; /* #a22 */
  --middle-red-purple: #a55353; /* #a55 */
  --blast-off-bronze: #a57164; /* #a76 */
  --gold: #a57c00; /* #a70 */
  --metallic-red: #a62c2b; /* #a22 */
  --maximum-red-purple: #a63a79; /* #a37 */
  --caf-au-lait: #a67b5b; /* #a75 */
  --french-beige: #a67b5b; /* #a75 */
  --tuscan-tan: #a67b5b; /* #a75 */
  --quick-silver: #a6a6a6; /* #aaa */
  --vivid-lime-green: #a6d608; /* #ad0 */
  --windsor-tan: #a75502; /* #a50 */
  --rich-lavender: #a76bcf; /* #a6c */
  --green-lizard: #a7f432; /* #af3 */
  --spring-bud: #a7fc00; /* #af0 */
  --rufous: #a81c07; /* #a10 */
  --sweet-brown: #a83731; /* #a33 */
  --china-rose: #a8516e; /* #a56 */
  --metallic-silver: #a8a9ad; /* #aaa */
  --opal: #a8c3bc; /* #acb */
  --granny-smith-apple: #a8e4a0; /* #aea */
  --metallic-bronze: #a97142; /* #a74 */
  --grullo: #a99a86; /* #a98 */
  --dark-gray-x11: #a9a9a9; /* #aaa */
  --laurel-green: #a9ba9d; /* #ab9 */
  --chinese-red: #aa381e; /* #a31 */
  --medium-ruby: #aa4069; /* #a46 */
  --heliotrope-gray: #aa98a9; /* #a9a */
  --rose-quartz: #aa98a9; /* #a9a */
  --silver-metallic: #aaa9ad; /* #aaa */
  --amaranth-purple: #ab274f; /* #a24 */
  --english-red: #ab4b52; /* #a45 */
  --rose-vale: #ab4e52; /* #a45 */
  --glossy-grape: #ab92b3; /* #a9b */
  --pale-cornflower-blue: #abcdef; /* #ace */
  --metallic-brown: #ac4313; /* #a41 */
  --silver-chalice: #acacac; /* #aaa */
  --maximum-blue-purple: #acace6; /* #aae */
  --middle-green-yellow: #acbf60; /* #ab6 */
  --celadon: #ace1af; /* #aea */
  --blizzard-blue: #ace5ee; /* #aee */
  --mystic-maroon: #ad4379; /* #a47 */
  --copper-penny: #ad6f69; /* #a66 */
  --light-blue: #add8e6; /* #ade */
  --light-moss-green: #addfad; /* #ada */
  --green-yellow: #adff2f; /* #af2 */
  --mordant-red-19: #ae0c00; /* #a00 */
  --upsdell-red: #ae2029; /* #a22 */
  --lilac-luster: #ae98aa; /* #a9a */
  --pastel-blue: #aec6cf; /* #acc */
  --crimson-ua: #af002a; /* #a02 */
  --medium-carmine: #af4035; /* #a43 */
  --pale-carmine: #af4035; /* #a43 */
  --brown-sugar: #af6e4d; /* #a64 */
  --silver-foil: #afb1ae; /* #aba */
  --light-turquoise: #afe4de; /* #aed */
  --pale-blue: #afeeee; /* #aee */
  --pale-turquoise: #afeeee; /* #aee */
  --maroon-x11: #b03060; /* #b36 */
  --rich-maroon: #b03060; /* #b36 */
  --acid-green: #b0bf1a; /* #bb1 */
  --light-steel-blue: #b0c4de; /* #bcd */
  --powder-blue: #b0e0e6; /* #bee */
  --medium-red: #b10304; /* #b00 */
  --wine-red: #b11226; /* #b12 */
  --philippine-gold: #b17304; /* #b70 */
  --light-pastel-purple: #b19cd9; /* #b9d */
  --tomato-sauce: #b21807; /* #b10 */
  --firebrick: #b22222; /* #b22 */
  --african-violet: #b284be; /* #b8b */
  --light-gold: #b29700; /* #b90 */
  --ash-grey: #b2beb5; /* #bbb */
  --inchworm: #b2ec5d; /* #be5 */
  --celeste: #b2ffff; /* #bff */
  --italian-sky-blue: #b2ffff; /* #bff */
  --carnelian: #b31b1b; /* #b11 */
  --cornell-red: #b31b1b; /* #b11 */
  --irresistible: #b3446c; /* #b46 */
  --raspberry-rose: #b3446c; /* #b46 */
  --light-taupe: #b38b6d; /* #b86 */
  --pastel-purple: #b39eb5; /* #b9b */
  --philippine-silver: #b3b3b3; /* #bbb */
  --english-lavender: #b48395; /* #b89 */
  --fandango: #b53389; /* #b38 */
  --light-brown: #b5651d; /* #b61 */
  --turkish-rose: #b57281; /* #b78 */
  --lavender-floral: #b57edc; /* #b7d */
  --olive-green: #b5b35c; /* #bb5 */
  --rich-lilac: #b666d2; /* #b6d */
  --rust: #b7410e; /* #b40 */
  --pearly-purple: #b768a2; /* #b6a */
  --rose-gold: #b76e79; /* #b67 */
  --opera-mauve: #b784a7; /* #b8a */
  --vivid-mulberry: #b80ce3; /* #b0e */
  --liver-dogs: #b86d29; /* #b62 */
  --copper: #b87333; /* #b73 */
  --dark-goldenrod: #b8860b; /* #b80 */
  --deep-chestnut: #b94e48; /* #b44 */
  --international-orange-engineering: #ba160c; /* #b10 */
  --medium-orchid: #ba55d3; /* #b5d */
  --lenurple: #ba93d8; /* #b9d */
  --medium-red-violet: #bb3385; /* #b38 */
  --misty-moss: #bbb477; /* #bb7 */
  --rosy-brown: #bc8f8f; /* #b88 */
  --pale-taupe: #bc987e; /* #b97 */
  --sage: #bcb88a; /* #bb8 */
  --beau-blue: #bcd4e6; /* #bde */
  --pale-aqua: #bcd4e6; /* #bde */
  --lemon-iced-tea: #bd3000; /* #b30 */
  --byzantine: #bd33a4; /* #b3a */
  --rose-quartz-pink: #bd559c; /* #b59 */
  --dark-khaki: #bdb76b; /* #bb6 */
  --june-bud: #bdda57; /* #bd5 */
  --popstar: #be4f62; /* #b46 */
  --mocha: #bea493; /* #ba9 */
  --gray-x11: #bebebe; /* #bbb */
  --electric-purple: #bf00ff; /* #b0f */
  --watermelon-red: #bf4147; /* #b44 */
  --bittersweet-shimmer: #bf4f51; /* #b45 */
  --black-shadows: #bfafb2; /* #bab */
  --silver-sand: #bfc1c2; /* #bcc */
  --lime-color-wheel: #bfff00; /* #bf0 */
  --international-orange-golden-gate-bridge: #c0362c; /* #c32 */
  --mahogany: #c04000; /* #c40 */
  --red-violet-crayola: #c0448f; /* #c48 */
  --old-rose: #c08081; /* #c88 */
  --tuscany: #c09999; /* #c99 */
  --silver: #c0c0c0; /* #ccc */
  --deep-fuchsia: #c154c1; /* #c5c */
  --fuchsia-crayola: #c154c1; /* #c5c */
  --camel: #c19a6b; /* #c96 */
  --desert: #c19a6b; /* #c96 */
  --fallow: #c19a6b; /* #c96 */
  --lion: #c19a6b; /* #c96 */
  --wood-brown: #c19a6b; /* #c96 */
  --menthol: #c1f9a2; /* #cfa */
  --rose-red: #c21e56; /* #c15 */
  --ecru: #c2b280; /* #cb8 */
  --sand: #c2b280; /* #cb8 */
  --pictorial-carmine: #c30b4e; /* #c04 */
  --bright-maroon: #c32148; /* #c24 */
  --maroon-crayola: #c32148; /* #c24 */
  --neon-brown: #c3732a; /* #c72 */
  --khaki-web-khaki: #c3b091; /* #cb9 */
  --periwinkle-crayola: #c3cde6; /* #cce */
  --red-ncs: #c40233; /* #c03 */
  --cardinal: #c41e3a; /* #c13 */
  --alloy-orange: #c46210; /* #c61 */
  --silver-pink: #c4aead; /* #caa */
  --lavender-gray: #c4c3d0; /* #ccd */
  --columbia-blue: #c4d8e2; /* #cde */
  --dingy-dungeon: #c53151; /* #c35 */
  --mulberry: #c54b8c; /* #c48 */
  --vegas-gold: #c5b358; /* #cb5 */
  --light-periwinkle: #c5cbe1; /* #cce */
  --yellow-green-crayola: #c5e384; /* #ce8 */
  --medium-violet-red: #c71585; /* #c18 */
  --red-violet: #c71585; /* #c18 */
  --french-raspberry: #c72c48; /* #c24 */
  --fuchsia-rose: #c74375; /* #c47 */
  --venetian-red: #c80815; /* #c01 */
  --strawberry-red: #c83f49; /* #c34 */
  --smitten: #c84186; /* #c48 */
  --mulberry-crayola: #c8509b; /* #c59 */
  --lilac: #c8a2c8; /* #cac */
  --light-french-beige: #c8ad7f; /* #ca7 */
  --wisteria: #c9a0dc; /* #cad */
  --pale-silver: #c9c0bb; /* #ccb */
  --silver-crayola: #c9c0bb; /* #ccb */
  --medium-spring-bud: #c9dc87; /* #cd8 */
  --aero-blue: #c9ffe5; /* #cfe */
  --royal-fuchsia: #ca2c92; /* #c29 */
  --cedar-chest: #ca3435; /* #c33 */
  --bitter-lemon: #cae00d; /* #ce0 */
  --sinopia: #cb410b; /* #c40 */
  --brick-red: #cb4154; /* #c45 */
  --copper-red: #cb6d51; /* #c65 */
  --pastel-violet: #cb99c9; /* #c9c */
  --satin-sheen-gold: #cba135; /* #ca3 */
  --vivid-crimson: #cc0033; /* #c03 */
  --vivid-orchid: #cc00ff; /* #c0f */
  --persian-red: #cc3333; /* #c33 */
  --madder-lake: #cc3336; /* #c33 */
  --steel-pink: #cc33cc; /* #c3c */
  --fuchsia-purple: #cc397b; /* #c37 */
  --english-vermillion: #cc474b; /* #c44 */
  --burnt-orange: #cc5500; /* #c50 */
  --ochre: #cc7722; /* #c72 */
  --puce: #cc8899; /* #c89 */
  --vivid-amber: #cc9900; /* #c90 */
  --light-grayish-magenta: #cc99cc; /* #c9c */
  --pale-violet: #cc99ff; /* #c9f */
  --lemon-curry: #cca01d; /* #ca1 */
  --neon-silver: #cccccc; /* #ccc */
  --lavender-blue: #ccccff; /* #ccf */
  --periwinkle: #ccccff; /* #ccf */
  --electric-lime: #ccff00; /* #cf0 */
  --tenn-tawny: #cd5700; /* #c50 */
  --indian-red: #cd5c5c; /* #c55 */
  --cinnamon-satin: #cd607e; /* #c67 */
  --mustard-brown: #cd7a00; /* #c70 */
  --bronze: #cd7f32; /* #c73 */
  --peru: #cd853f; /* #c83 */
  --antique-brass: #cd9575; /* #c97 */
  --tropical-violet: #cda4de; /* #cad */
  --philippine-red: #ce1127; /* #c12 */
  --fire-engine-red: #ce2029; /* #c22 */
  --ruber: #ce4676; /* #c47 */
  --soap: #cec8ef; /* #cce */
  --lava: #cf1020; /* #c12 */
  --stop-red: #cf142b; /* #c12 */
  --telemagenta: #cf3476; /* #c37 */
  --super-pink: #cf6ba9; /* #c6a */
  --sky-magenta: #cf71af; /* #c7a */
  --neon-gold: #cfaa01; /* #ca0 */
  --old-gold: #cfb53b; /* #cb3 */
  --pastel-gray: #cfcfc4; /* #ccc */
  --royal-red: #d00060; /* #d06 */
  --tea-green: #d0f0c0; /* #dfc */
  --arctic-lime: #d0ff14; /* #df1 */
  --spanish-carmine: #d10047; /* #d04 */
  --rubine-red: #d10056; /* #d05 */
  --dark-vanilla: #d1bea8; /* #dba */
  --pear: #d1e231; /* #de3 */
  --chocolate-web: #d2691e; /* #d61 */
  --cocoa-brown: #d2691e; /* #d61 */
  --tan: #d2b48c; /* #db8 */
  --amaranth-red: #d3212d; /* #d22 */
  --light-medium-orchid: #d39bcb; /* #d9c */
  --metallic-gold: #d3af37; /* #da3 */
  --light-gray: #d3d3d3; /* #ddd */
  --wild-orchid: #d470a2; /* #d7a */
  --deep-mauve: #d473d4; /* #d7d */
  --french-mauve: #d473d4; /* #d7d */
  --gold-metallic: #d4af37; /* #da3 */
  --water: #d4f1f9; /* #dff */
  --mystic: #d65282; /* #d58 */
  --raw-sienna: #d68a59; /* #d85 */
  --languid-lavender: #d6cadd; /* #dcd */
  --rich-carmine: #d70040; /* #d04 */
  --dogwood-rose: #d71868; /* #d16 */
  --pink-pantone: #d74894; /* #d49 */
  --new-york-pink: #d7837f; /* #d87 */
  --bright-lilac: #d891ef; /* #d9e */
  --pink-lavender: #d8b2d1; /* #dbd */
  --thistle: #d8bfd8; /* #dbd */
  --light-silver: #d8d8d8; /* #ddd */
  --maximum-red: #d92121; /* #d22 */
  --vermilion: #d9381e; /* #d31 */
  --medium-vermilion: #d9603b; /* #d63 */
  --middle-purple: #d982b5; /* #d8b */
  --shimmering-blush: #d98695; /* #d89 */
  --persian-orange: #d99058; /* #d95 */
  --parrot-pink: #d998a0; /* #d9a */
  --tan-crayola: #d99a6c; /* #d96 */
  --maximum-green-yellow: #d9e650; /* #de5 */
  --vivid-cerise: #da1d81; /* #d18 */
  --rusty-red: #da2c43; /* #d24 */
  --deep-cerise: #da3287; /* #d38 */
  --metallic-orange: #da680f; /* #d60 */
  --orchid: #da70d6; /* #d7d */
  --pale-copper: #da8a67; /* #d86 */
  --harvest-gold: #da9100; /* #d90 */
  --goldenrod: #daa520; /* #da2 */
  --pale-red-violet: #db7093; /* #d79 */
  --pale-violet-red: #db7093; /* #d79 */
  --timberwolf: #dbd7d2; /* #ddd */
  --crimson: #dc143c; /* #d13 */
  --pale-lavender: #dcd0ff; /* #ddf */
  --gainsboro: #dcdcdc; /* #ddd */
  --medium-lavender-magenta: #dda0dd; /* #dad */
  --pale-plum: #dda0dd; /* #dad */
  --plum-web: #dda0dd; /* #dad */
  --pale-chestnut: #ddadaf; /* #daa */
  --booger-buster: #dde26a; /* #de6 */
  --cerise: #de3163; /* #d36 */
  --fandango-pink: #de5285; /* #d58 */
  --blush: #de5d83; /* #d58 */
  --china-pink: #de6fa1; /* #d6a */
  --liseran-purple: #de6fa1; /* #d6a */
  --thulian-pink: #de6fa1; /* #d6a */
  --pastel-pink: #dea5a4; /* #daa */
  --tumbleweed: #deaa88; /* #da8 */
  --burlywood: #deb887; /* #db8 */
  --phlox: #df00ff; /* #d0f */
  --psychedelic-purple: #df00ff; /* #d0f */
  --red-cola: #df0118; /* #d01 */
  --vivid-red-tangelo: #df6124; /* #d62 */
  --heliotrope: #df73ff; /* #d7f */
  --chartreuse-traditional: #dfff00; /* #df0 */
  --ruby: #e0115f; /* #e15 */
  --barbie-pink: #e0218a; /* #e28 */
  --tiger-s-eye: #e08d3c; /* #e83 */
  --mauve: #e0b0ff; /* #ebf */
  --lanzones: #e0bc5b; /* #eb5 */
  --light-cyan: #e0ffff; /* #eff */
  --permanent-geranium-lake: #e12c2c; /* #e22 */
  --earth-yellow: #e1a95f; /* #ea5 */
  --mustard-yellow: #e1ad01; /* #ea0 */
  --urobilin: #e1ad21; /* #ea2 */
  --medium-candy-apple-red: #e2062c; /* #e02 */
  --raspberry-pink: #e25098; /* #e59 */
  --flame: #e25822; /* #e52 */
  --terra-cotta: #e2725b; /* #e75 */
  --orchid-crayola: #e29cd2; /* #e9d */
  --cadmium-red: #e30022; /* #e02 */
  --raspberry: #e30b5d; /* #e05 */
  --razzmatazz: #e3256b; /* #e26 */
  --rose-madder: #e32636; /* #e23 */
  --vermilion: #e34234; /* #e43 */
  --indian-yellow: #e3a857; /* #ea5 */
  --sunray: #e3ab57; /* #ea5 */
  --bone: #e3dac9; /* #edc */
  --mindaro: #e3f988; /* #ef8 */
  --lemon-lime: #e3ff00; /* #ef0 */
  --nintendo-red: #e4000f; /* #e00 */
  --red-purple: #e40078; /* #e07 */
  --mexican-pink: #e4007c; /* #e07 */
  --candy-pink: #e4717a; /* #e77 */
  --tango-pink: #e4717a; /* #e77 */
  --fulvous: #e48400; /* #e80 */
  --gamboge: #e49b0f; /* #e90 */
  --citrine: #e4d00a; /* #ed0 */
  --straw: #e4d96f; /* #ed6 */
  --spanish-crimson: #e51a4c; /* #e14 */
  --amaranth: #e52b50; /* #e25 */
  --vivid-vermilion: #e56024; /* #e62 */
  --middle-red: #e58e73; /* #e87 */
  --fawn: #e5aa70; /* #ea7 */
  --meat-brown: #e5b73b; /* #eb3 */
  --platinum: #e5e4e2; /* #eee */
  --spanish-red: #e60026; /* #e02 */
  --lust: #e62020; /* #e22 */
  --paradise-pink: #e63e62; /* #e36 */
  --light-carmine-pink: #e66771; /* #e67 */
  --charm-pink: #e68fac; /* #e8a */
  --light-thulian-pink: #e68fac; /* #e8a */
  --light-orchid: #e6a8d7; /* #ead */
  --gold-crayola: #e6be8a; /* #eb8 */
  --pale-gold: #e6be8a; /* #eb8 */
  --white-coffee: #e6e0d4; /* #eed */
  --peridot: #e6e200; /* #ee0 */
  --lavender-web: #e6e6fa; /* #eef */
  --lavender-mist: #e6e6fa; /* #eef */
  --royal-pink: #e73895; /* #e39 */
  --orange-soda: #e74e14; /* #e41 */
  --salmon-rose: #e7968b; /* #e98 */
  --kobi: #e79fc4; /* #e9c */
  --pink-pearl: #e7accf; /* #eac */
  --spanish-orange: #e86100; /* #e60 */
  --big-foot-feet: #e88e5a; /* #e85 */
  --queen-pink: #e8ccd7; /* #ecd */
  --key-lime: #e8f48c; /* #ef8 */
  --frostbite: #e936a7; /* #e3a */
  --fire-opal: #e95c4b; /* #e54 */
  --burnt-sienna: #e97451; /* #e75 */
  --light-red-ochre: #e97451; /* #e75 */
  --dark-salmon: #e9967a; /* #e97 */
  --arylide-yellow: #e9d66b; /* #ed6 */
  --hansa-yellow: #e9d66b; /* #ed6 */
  --nyanza: #e9ffdb; /* #efd */
  --marigold: #eaa221; /* #ea2 */
  --pearl: #eae0c8; /* #eec */
  --thistle-crayola: #ebb0d7; /* #ebd */
  --red-strawberry: #ec0304; /* #e00 */
  --persimmon: #ec5800; /* #e50 */
  --middle-yellow-red: #ecb176; /* #eb7 */
  --lotion-pink: #eccfcf; /* #ecc */
  --sandstorm: #ecd540; /* #ed4 */
  --pale-spring-bud: #ecebbd; /* #eeb */
  --spring-green-crayola: #ecebbd; /* #eeb */
  --red-pigment: #ed1c24; /* #e12 */
  --imperial-red: #ed2939; /* #e23 */
  --red-pantone: #ed2939; /* #e23 */
  --cadmium-orange: #ed872d; /* #e82 */
  --carrot-orange: #ed9121; /* #e92 */
  --metallic-pink: #eda6c4; /* #eac */
  --desert-sand: #edc9af; /* #eca */
  --white-chocolate: #ede6d6; /* #eed */
  --red-crayola: #ee204d; /* #e24 */
  --lavender-magenta: #ee82ee; /* #e8e */
  --violet-web: #ee82ee; /* #e8e */
  --safety-yellow: #eed202; /* #ed0 */
  --flax: #eedc82; /* #ed8 */
  --titanium-yellow: #eee600; /* #ee0 */
  --pale-goldenrod: #eee8aa; /* #eea */
  --watermelon-yellow: #eeff1b; /* #ef1 */
  --mauvelous: #ef98aa; /* #e9a */
  --cameo-pink: #efbbcc; /* #ebc */
  --yellow-munsell: #efcc00; /* #ec0 */
  --almond: #efdecd; /* #edc */
  --dutch-white: #efdfbb; /* #edb */
  --microsoft-red: #f04e1f; /* #f41 */
  --watermelon: #f05c85; /* #f58 */
  --vivid-tangelo: #f07427; /* #f72 */
  --light-coral: #f08080; /* #f88 */
  --pink-diamond-independent-retailers-colors: #f0d3dc; /* #fdd */
  --buff: #f0dc82; /* #fd8 */
  --khaki-x11-light-khaki: #f0e68c; /* #fe8 */
  --light-khaki: #f0e68c; /* #fe8 */
  --green-yellow-crayola: #f0e891; /* #fe9 */
  --eggshell: #f0ead6; /* #fed */
  --alice-blue: #f0f8ff; /* #fff */
  --honeydew: #f0fff0; /* #fff */
  --azure-x11-web-color: #f0ffff; /* #fff */
  --amaranth-pink: #f19cbb; /* #f9b */
  --rich-brilliant-lavender: #f1a7fe; /* #faf */
  --champagne-pink: #f1ddcf; /* #fdc */
  --red-munsell: #f2003c; /* #f03 */
  --tangerine: #f28500; /* #f80 */
  --maximum-yellow-red: #f2ba49; /* #fb4 */
  --orchid-pink: #f2bdcd; /* #fbc */
  --maize-crayola: #f2c649; /* #fc4 */
  --alabaster: #f2f0e6; /* #ffe */
  --sunny: #f2f27a; /* #ff7 */
  --mandarin: #f37a48; /* #f74 */
  --vanilla-ice: #f38fa9; /* #f8a */
  --medium-champagne: #f3e5ab; /* #fea */
  --vanilla: #f3e5ab; /* #fea */
  --fashion-fuchsia: #f400a1; /* #f0a */
  --hollywood-cerise: #f400a1; /* #f0a */
  --pastel-magenta: #f49ac2; /* #f9c */
  --sandy-brown: #f4a460; /* #fa6 */
  --baby-pink: #f4c2c2; /* #fcc */
  --tea-rose: #f4c2c2; /* #fcc */
  --saffron: #f4c430; /* #fc3 */
  --jonquil: #f4ca16; /* #fc1 */
  --isabelline: #f4f0ec; /* #ffe */
  --light-crimson: #f56991; /* #f69 */
  --cyclamen: #f56fa1; /* #f6a */
  --princeton-orange: #f58025; /* #f82 */
  --orange-yellow: #f5bd1f; /* #fb1 */
  --deep-lemon: #f5c71a; /* #fc1 */
  --wheat: #f5deb3; /* #fdb */
  --minion-yellow: #f5e050; /* #fe5 */
  --beige: #f5f5dc; /* #ffd */
  --cultured: #f5f5f5; /* #fff */
  --white-smoke: #f5f5f5; /* #fff */
  --zebra-white: #f5f5f5; /* #fff */
  --mint-cream: #f5fffa; /* #fff */
  --french-rose: #f64a8a; /* #f48 */
  --brilliant-rose: #f653a6; /* #f5a */
  --neon-tangerine: #f6890a; /* #f80 */
  --maximum-pink: #f6a5f2; /* #faf */
  --nadeshiko-pink: #f6adc6; /* #fac */
  --spanish-yellow: #f6b511; /* #fb1 */
  --pink-diamond-ace-hardware-color: #f6d6de; /* #fdd */
  --lemon-meringue: #f6eabe; /* #feb */
  --vivid-red: #f70d1a; /* #f01 */
  --violet-red: #f75394; /* #f59 */
  --persian-pink: #f77fbe; /* #f7b */
  --pink-sherbet: #f78fa7; /* #f8a */
  --spanish-pink: #f7bfbe; /* #fbb */
  --champagne: #f7e7ce; /* #fec */
  --congo-pink: #f88379; /* #f87 */
  --coral-pink: #f88379; /* #f87 */
  --tea-rose: #f88379; /* #f87 */
  --mellow-apricot: #f8b878; /* #fb7 */
  --little-girl-pink: #f8b9d4; /* #fbd */
  --orange-yellow-crayola: #f8d568; /* #fd6 */
  --jasmine: #f8de7e; /* #fd7 */
  --mellow-yellow: #f8de7e; /* #fd7 */
  --ghost-white: #f8f8ff; /* #fff */
  --rose-bonbon: #f9429e; /* #f49 */
  --tangelo: #f94d00; /* #f40 */
  --pale-magenta: #f984e5; /* #f8e */
  --light-fuchsia-pink: #f984ef; /* #f8e */
  --royal-orange: #f99245; /* #f94 */
  --philippine-pink: #fa1a8e; /* #f18 */
  --orange-soda: #fa5b3d; /* #f53 */
  --salmon: #fa8072; /* #f87 */
  --deep-champagne: #fad6a5; /* #fda */
  --sunset: #fad6a5; /* #fda */
  --tuscan: #fad6a5; /* #fda */
  --naples-yellow: #fada5e; /* #fd5 */
  --royal-yellow: #fada5e; /* #fd5 */
  --stil-de-grain-yellow: #fada5e; /* #fd5 */
  --pale-pink: #fadadd; /* #fdd */
  --peach-yellow: #fadfad; /* #fda */
  --banana-mania: #fae7b5; /* #feb */
  --antique-white: #faebd7; /* #fed */
  --moccasin: #faebd7; /* #fed */
  --linen: #faf0e6; /* #ffe */
  --maximum-yellow: #fafa37; /* #ff3 */
  --light-goldenrod-yellow: #fafad2; /* #ffd */
  --tart-orange: #fb4d46; /* #f44 */
  --orioles-orange: #fb4f14; /* #f41 */
  --brink-pink: #fb607f; /* #f67 */
  --orange-ryb: #fb9902; /* #f90 */
  --lavender-rose: #fba0e3; /* #fae */
  --rajah: #fbab60; /* #fa6 */
  --lavender-pink: #fbaed2; /* #fad */
  --apricot: #fbceb1; /* #fcb */
  --maize: #fbec5d; /* #fe5 */
  --shocking-pink: #fc0fc0; /* #f0c */
  --strawberry: #fc5a8d; /* #f58 */
  --strawberry-iced-tea: #fc5a8d; /* #f58 */
  --ultra-red: #fc6c85; /* #f68 */
  --wild-watermelon: #fc6c85; /* #f68 */
  --pink-flamingo: #fc74fd; /* #f7f */
  --tickle-me-pink: #fc89ac; /* #f8a */
  --golden-poppy: #fcc200; /* #fc0 */
  --yellow-crayola: #fce883; /* #fe8 */
  --icterine: #fcf75e; /* #ff5 */
  --scarlet: #fd0e35; /* #f03 */
  --tractor-red: #fd0e35; /* #f03 */
  --red-salsa: #fd3a4a; /* #f34 */
  --french-fuchsia: #fd3f92; /* #f39 */
  --ogre-odor: #fd5240; /* #f54 */
  --willpower-orange: #fd5800; /* #f50 */
  --sunset-orange: #fd5e53; /* #f55 */
  --french-pink: #fd6c9e; /* #f69 */
  --microsoft-yellow: #fdb900; /* #fb0 */
  --melon: #fdbcb4; /* #fbb */
  --mango: #fdbe02; /* #fb0 */
  --metallic-yellow: #fdcc0d; /* #fc0 */
  --light-apricot: #fdd5b1; /* #fdb */
  --sandy-tan: #fdd9b5; /* #fdb */
  --piggy-pink: #fddde6; /* #fde */
  --aureolin: #fdee00; /* #fe0 */
  --old-lace: #fdf5e6; /* #ffe */
  --pastel-yellow: #fdfd96; /* #ff9 */
  --lemon-glacier: #fdff00; /* #ff0 */
  --milk: #fdfff5; /* #fff */
  --red-ryb: #fe2712; /* #f21 */
  --persian-rose: #fe28a2; /* #f2a */
  --neon-pink: #fe347e; /* #f37 */
  --neon-fuchsia: #fe4164; /* #f46 */
  --purple-pizzazz: #fe4eda; /* #f4d */
  --medium-pink: #fe6e9f; /* #f69 */
  --bittersweet: #fe6f5e; /* #f65 */
  --melon-crayola: #febaad; /* #fba */
  --philippine-yellow: #fecb00; /* #fc0 */
  --light-orange: #fed8b1; /* #fdb */
  --yellow-pantone: #fedf00; /* #fd0 */
  --lotion: #fefdfa; /* #fff */
  --yellow-ryb: #fefe33; /* #ff3 */
  --baby-powder: #fefefa; /* #fff */
  --red: #ff0000; /* #f00 */
  --prilly-red: #ff0040; /* #f04 */
  --vivid-raspberry: #ff006c; /* #f06 */
  --winter-sky: #ff007c; /* #f07 */
  --bright-pink: #ff007f; /* #f07 */
  --rose: #ff007f; /* #f07 */
  --fuchsia: #ff00ff; /* #f0f */
  --magenta: #ff00ff; /* #f0f */
  --candy-apple-red: #ff0800; /* #f00 */
  --deep-pink: #ff1493; /* #f19 */
  --neon-red: #ff1818; /* #f11 */
  --hot-magenta: #ff1dce; /* #f1c */
  --scarlet: #ff2400; /* #f20 */
  --neon-scarlet: #ff2603; /* #f20 */
  --light-mustard: #ff3333; /* #f33 */
  --light-red: #ff3333; /* #f33 */
  --razzle-dazzle-rose: #ff33cc; /* #f3c */
  --radical-red: #ff355e; /* #f35 */
  --coquelicot: #ff3800; /* #f30 */
  --sizzling-red: #ff3855; /* #f35 */
  --sunburnt-cyclops: #ff404c; /* #f44 */
  --prilly-pink: #ff40a0; /* #f4a */
  --wild-strawberry: #ff43a4; /* #f4a */
  --red-orange-color-wheel: #ff4500; /* #f40 */
  --sasquatch-socks: #ff4681; /* #f48 */
  --international-orange-aerospace: #ff4f00; /* #f40 */
  --orange-red-crayola: #ff5349; /* #f54 */
  --red-orange: #ff5349; /* #f54 */
  --fiery-rose: #ff5470; /* #f57 */
  --mystic-red: #ff5500; /* #f50 */
  --orange-pantone: #ff5800; /* #f50 */
  --portland-orange: #ff5a36; /* #f53 */
  --maximum-orange: #ff5b00; /* #f50 */
  --light-deep-pink: #ff5ccd; /* #f5c */
  --vivid-orange: #ff5f00; /* #f50 */
  --tomato: #ff6347; /* #f64 */
  --orange: #ff6600; /* #f60 */
  --rose-pink: #ff66cc; /* #f6c */
  --orange-iced-tea: #ff6700; /* #f60 */
  --safety-orange-blaze-orange: #ff6700; /* #f60 */
  --orange-red: #ff681f; /* #f61 */
  --red-orange-crayola: #ff681f; /* #f61 */
  --pastel-red: #ff6961; /* #f66 */
  --hot-pink: #ff69b4; /* #f6b */
  --smashed-pumpkin: #ff6d3a; /* #f63 */
  --outrageous-orange: #ff6e4a; /* #f64 */
  --shocking-pink-crayola: #ff6fff; /* #f6f */
  --ultra-pink: #ff6fff; /* #f6f */
  --philippine-orange: #ff7300; /* #f70 */
  --pumpkin: #ff7518; /* #f71 */
  --orange-crayola: #ff7538; /* #f73 */
  --safety-orange: #ff7800; /* #f70 */
  --medium-orange: #ff7802; /* #f70 */
  --heat-wave: #ff7a00; /* #f70 */
  --amber-sae-ece: #ff7e00; /* #f70 */
  --orange-color-wheel: #ff7f00; /* #f70 */
  --coral: #ff7f50; /* #f75 */
  --mango-tango: #ff8243; /* #f84 */
  --princess-perfume: #ff85cf; /* #f8c */
  --tulip: #ff878d; /* #f88 */
  --dark-orange: #ff8c00; /* #f80 */
  --salmon-pink: #ff91a4; /* #f9a */
  --baker-miller-pink: #ff91af; /* #f9a */
  --schauss-pink: #ff91af; /* #f9a */
  --yellow-orange-color-wheel: #ff9505; /* #f90 */
  --vivid-gamboge: #ff9900; /* #f90 */
  --atomic-tangerine: #ff9966; /* #f96 */
  --pink-orange: #ff9966; /* #f96 */
  --light-salmon-pink: #ff9999; /* #f99 */
  --pale-magenta-pink: #ff99cc; /* #f9c */
  --orange-peel: #ff9f00; /* #f90 */
  --vivid-orange-peel: #ffa000; /* #fa0 */
  --light-salmon: #ffa07a; /* #fa7 */
  --vivid-tangerine: #ffa089; /* #fa8 */
  --neon-carrot: #ffa343; /* #fa4 */
  --orange-web: #ffa500; /* #fa0 */
  --carnation-pink: #ffa6c9; /* #fac */
  --bright-yellow-crayola: #ffaa1d; /* #fa1 */
  --yellow-orange: #ffae42; /* #fa4 */
  --very-light-tangelo: #ffb077; /* #fb7 */
  --pastel-orange: #ffb347; /* #fb4 */
  --light-hot-pink: #ffb3de; /* #fbd */
  --light-pink: #ffb6c1; /* #fbc */
  --cherry-blossom-pink: #ffb7c5; /* #fbc */
  --selective-yellow: #ffba00; /* #fb0 */
  --cotton-candy: #ffbcd9; /* #fbd */
  --macaroni-and-cheese: #ffbd88; /* #fb8 */
  --amber: #ffbf00; /* #fb0 */
  --pink: #ffc0cb; /* #fcc */
  --ripe-mango: #ffc324; /* #fc2 */
  --mikado-yellow: #ffc40c; /* #fc0 */
  --topaz: #ffc87c; /* #fc7 */
  --peach-crayola: #ffcba4; /* #fca */
  --tangerine-yellow: #ffcc00; /* #fc0 */
  --sunglow: #ffcc33; /* #fc3 */
  --peach-orange: #ffcc99; /* #fc9 */
  --shampoo: #ffcff1; /* #fcf */
  --cyber-yellow: #ffd300; /* #fd0 */
  --yellow-ncs: #ffd300; /* #fd0 */
  --gold-web-golden: #ffd700; /* #fd0 */
  --school-bus-yellow: #ffd800; /* #fd0 */
  --peach-puff: #ffdab9; /* #fdb */
  --mimi-pink: #ffdae9; /* #fde */
  --sizzling-sunrise: #ffdb00; /* #fd0 */
  --mustard: #ffdb58; /* #fd5 */
  --unbleached-silk: #ffddca; /* #fdc */
  --pink-lace: #ffddf4; /* #fdf */
  --navajo-white: #ffdead; /* #fda */
  --golden-yellow: #ffdf00; /* #fd0 */
  --philippine-golden-yellow: #ffdf00; /* #fd0 */
  --very-pale-orange: #ffdfbf; /* #fdb */
  --banana-yellow: #ffe135; /* #fe3 */
  --medium-yellow: #ffe302; /* #fe0 */
  --vivid-yellow: #ffe302; /* #fe0 */
  --bisque: #ffe4c4; /* #fec */
  --lumber: #ffe4cd; /* #fec */
  --misty-rose: #ffe4e1; /* #fee */
  --peach: #ffe5b4; /* #feb */
  --shandy: #ffe670; /* #fe7 */
  --middle-yellow: #ffeb00; /* #fe0 */
  --blanched-almond: #ffebcd; /* #fec */
  --light-goldenrod: #ffec8b; /* #fe8 */
  --yellow-process: #ffef00; /* #fe0 */
  --papaya-whip: #ffefd5; /* #fed */
  --yellow-rose: #fff000; /* #ff0 */
  --lavender-blush: #fff0f5; /* #fff */
  --lemon-yellow: #fff44f; /* #ff4 */
  --seashell: #fff5ee; /* #ffe */
  --cadmium-yellow: #fff600; /* #ff0 */
  --lemon: #fff700; /* #ff0 */
  --neon-yellow: #fff700; /* #ff0 */
  --yellow-sunshine: #fff700; /* #ff0 */
  --cornsilk: #fff8dc; /* #ffd */
  --cosmic-latte: #fff8e7; /* #ffe */
  --lemon-chiffon: #fffacd; /* #ffc */
  --floral-white: #fffaf0; /* #fff */
  --snow: #fffafa; /* #fff */
  --tooth: #fffafa; /* #fff */
  --cream: #fffdd0; /* #ffd */
  --yellow: #ffff00; /* #ff0 */
  --laser-lemon: #ffff66; /* #ff6 */
  --unmellow-yellow: #ffff66; /* #ff6 */
  --canary-yellow: #ffff99; /* #ff9 */
  --lemon-yellow-crayola: #ffff9f; /* #ff9 */
  --very-pale-yellow: #ffffbf; /* #ffb */
  --light-yellow: #ffffe0; /* #ffe */
  --ivory: #fffff0; /* #fff */
  --white: #ffffff; /* #fff */
}
